service password-encrypton
!
hostname {{ hostname|default("staging", true) }}
!
vrf definition {{ topology.baseline.mgmt_vrf | default("Mgmt-intf", true) }}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
username {{ creds.login_user | default("cisco", true) }} secret {{ creds.login_pass | default("cisco", true) }}
!
enable secret {{ creds.enable_pass | default("cisco", true) }}
!
radius server {{ topology.baseline.radius_server | default("FREERADIUS", true) }}
 address ipv4 {{ topology.baseline.radius_ip }} auth-port {{ topology.baseline.radius_auth_port | default("1812", true) }} acct-port {{ topology.baseline.radius_acct_port | default("1813") }}
 key {{ creds.radius_key }}
!
aaa new-model
!
aaa group server radius RADGRP
 server name {{ topology.baseline.radius_server | default("FREERADIUS", true) }}
 ip vrf forwarding {{ topology.baseline.mgmt_vrf | default("Mgmt-intf", true) }}
 ip radius source-interface {{ topology.baseline.mgmt_intf_xe | default("GigabitEthernet1", true) }}
!
aaa authentication login default group radius
aaa authentication login CONSOLE local
aaa authorization exec default if-authenticated
!
interface {{ topology.baseline.mgmt_intf | default("GigabitEthernet1", true) }}
 vrf forwarding {{ topology.baseline.mgmt_vrf | default("Mgmt-intf", true) }}
 ip address dhcp
 no shutdown
!
ip route vrf {{ topology.baseline.mgmt_vrf | default("Mgmt-intf", true) }} 0.0.0.0 0.0.0.0 {{ topology.baseline.mgmt_gateway | default("172.16.100.1", true) }}
ip ssh source-interface {{ topology.baseline.mgmt_intf | default("GigabitEthernet1", true) }}
ip ssh version 2
!
line con 0
 password {{ creds.login_pass | default("cisco", true) }}
 login authentication CONSOLE
 stopbits 1
line vty 0 4
 exec-timeout 0 0
 password {{ creds.login_pass | default("cisco", true) }}
 transport input telnet ssh
!
crypto key generate rsa general-keys modulus 4096
!
end
