router isis {{ process_id | default("CORE", true) }}
 set-overload-bit on-startup wait-for-bgp
 is-type level-2-only
 net {{ isis_net }}
 nsf cisco
 log adjacency changes
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  maximum-paths 8
  segment-routing mpls
 !
